@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");

.article {
  grid-column: 7 / 8;
  grid-row: 5 / -1;

  padding-top: 2em;
}

.container {
  display: grid;
  grid-template-rows: min-content 1em max-content 1em 200px 5em 300px 10vh;
  grid-template-columns: 2em min-content 20vw 1fr 1fr 4em 5fr 2em;
  font-family: "Roboto Mono", monospace;
}

.headline {
  grid-column: 2 / 3;

  text-transform: uppercase;
  color: red;
  margin: 0;
  font-weight: 700;
}

.image {
  grid-column: 1 / 5;
  grid-row: 7 / 8;

  background-image: url("../../../static/corgi.jpg");
  background-position: center;
  background-size: cover;
}

.leadingParagraph {
  grid-column: 2 / 8;
  grid-row: 3 / 4;
}

.imageCredit {
  grid-row: 8 / 9;
  grid-column: 1 / 4;

  color: gray;
  text-align: center;
}

.redBox {
  grid-column: 4 / 6;
  grid-row: 6 / -1;

  background: linear-gradient(
    to bottom,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  );
}

.whyChooseUsBox {
  grid-column: 1 / 5;
  grid-row: 5 / 8;

  color: white;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234b2f37' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 2em;
}

.whyChooseUsHeadline {
  color: orange;
  text-transform: capitalize;
}

.whyChooseUsList {
  padding: 0 1em;
}

.whyChooseUsListItem {
  padding-bottom: 0.5em;
}
